@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --animate-carrousel-sections-in: carrousel-sections-in 1s ease-in-out 0.4s both;
  --animate-slide-in-right: slide-in-right 1s ease-out both;
  --animate-slide-in-left: slide-in-left 1s ease-out both;

  @keyframes carrousel-sections-in {
    0% {
      transform: translateY(30px);
      width: 50px;
    }
    50% {
      transform: translateY(-20px);
      width: 80px;
    }
    75% {
      width: 85px;
    }
    100% {
      transform: translateY(0px);
      width: 88px;
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(60px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-60px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

html {
  overflow-x: clip;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: #fbf9fc;
}

html.dark body {
  background-color: #000000;
}

button {
  cursor: pointer;
}

/* Clase para ocultar la barra de navegación */
::-webkit-scrollbar {
  opacity: 0;
}
